<pre>
    <%= JSON.stringify(item,null,5) %>
</pre>

<form method="post" action="/transaction/updateTransaction">
    <input type="hidden" name="itemId" value="<%= item._id %>">
    <input type="text"
        placeholder="description"
        name="description"><br>
    <input type="text"
        placeholder="amount"
        name="amount"><br>
    <input type="text"
        placeholder="category"
        name="category"><br>
    <input type="submit" value="store">
</form>