<!DOCTYPE html>
<html>
  <head>
    <title>GPT APP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>GPT APP</h1>
    <a href = "/about">About Page</a><br>
    <a href = "/team">Team Page</a><br>
    <a href = "/gpt">GPT Request Page</a><br>
  </body>
</html>
